/* цвет основного текста #212121
/* вторичный цвет фона  #757575;
 */
/* основной белый фон #FFFFFF  */
/* акцент #2196F3*/
/* вторичный цвет фона #F5F4FA; */
/* цвет фона футера #2F303A */
:root {
    --primary-text-color:#212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --footer-main-color:#2F303A;
  }
  html {
    box-sizing: border-box;
  }
  body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
 
  h1,
  h2,
  h3{
  margin: 0;
  text-align: center;
  }
  address {
    font-style: normal;
  }

  /* Утиилиты */
  
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 1215px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
   }

   .page-header {
     border: 2px solid var(--secondary-background-color);
   }

  /* logotipe */

  .logo {
    color: #2196F3;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .logo-link {
    text-decoration: none;
  }
  .logo-black{
    color: #212121;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .logo-white {
    color: var(--primary-white-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }

  
  /* Site nav */


  .main-nav {
    display: flex;
    align-items: center;
  }
  
  .site-nav {
    display: flex;
    margin-left: 85px;
  }
  .item-nav + .item-nav {
    margin-left: 50px;
  }
   .list-nav {
    margin: 0;
    padding: 0;
  }

   .link-nav {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  } 
  .active-page {
    color: var(--accent-color);
  }

    .item-nav .active-page::after {
      content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px; 
    background-color: var(--accent-color); 
    border-radius: 5px; 
    transform: scaleX(1);
  }
  .item-nav .active-page:hover::after {
    transform: scalex(0);
  }

  
  .link-nav:hover,
  .link-nav:focus {
    color: var(--accent-color);
  }
  
  
   .link-nav::after  {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px; 
    background-color: var(--accent-color); 
    border-radius: 5px; 
    transform: scaleX(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-nav:hover::after {
    transform: scaleX(1) ;

   
  }
  

   /* .auth-nav */

  .auth-nav {
    display: flex; 
    margin-left: auto; 
  }
  
  .auth-nav-link {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 210px;
    color: var(--title-text-color);
    fill: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;      
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .auth-nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
  }

  .auth-nav-link:hover,
  .auth-nav-link:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /* Hero */ 

  .hero{
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-bottom: 94px;
    background-image: linear-gradient(to right,
     rgba(47, 48, 58, 0.8),
     rgba(47, 48, 58, 0.8)),
     url('../image/startup4.jpg');
  }

  .hero-title {
    color: var(--primary-white-color);
    margin: 0;
    padding-top:  200px;
    padding-bottom: 30px;
  } 
  
   /* Button */
    
 .hero-button {
   border: 0px;
  border-radius: 5px;
  margin-bottom: 200px;
  display: inline-block;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  }
    .hero-button:hover,
    .hero-button:focus {
    color: var(--primary-text-color);
    transition: 250ms;
  }
  
  /* Section */ 
  .section {
    margin-bottom: 94px;
  }

  .section-title {
    color: var(--rpimary-text-color);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  } 

  /* Features, Преимущества */ 

  .feature-list .title {
    color: var(--title-text-color);
  }

  .feature-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .feature-list .text {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  .svg-features-link {
    width: 66px;
    height: 70px;
  }
  
  .space {
    background-color: var(--secondary-background-color);
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    margin-bottom: 30px;
  }

  .feature-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  

  /* Examples */

   .work-list{
    display: flex;
   }

  .work-list .title {
    color: var(--title-text-color); 
  }

  .our-work-item {
    text-align: center;
    margin-bottom: 50px;
  }

  .work-item {
    position: relative;
    
    margin-right: 15px;
    margin-left: 15px;
  }

  .work-item:last-child {
    margin-right: 0;
  }
 
  

  .work-list .link {
    position: absolute;
    bottom:0;
    right: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: 370px;
    height: 70px;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
  }

   .work-list .link:hover,
   .work-list .link:focus {
       color: var(--accent-color);
       transition: 250ms;
   }
   
   /* Team команда */
   .team {
    text-align: center;
    background-color: var(--secondary-background-color);
    margin-bottom: 94px;
   }
   .section-title {
     padding-top: 94px;
     padding-bottom: 50px;
   }
  
   .team-list {
     display: flex;
     align-items: flex-start;
   }

   .team-item {
     background-color: var(--primary-white-color);
    box-shadow:  0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
     margin-right: 30px;
     margin-bottom: 94px;
   }

   .team-item:last-child {
    margin-right: 0;
  }
   
   .team-name {
       color: var(--primary-text-color);
       font-weight: 500;
       font-size: 16px;
       line-height: 1.18;  
       letter-spacing: 0.03em;
       font-style: normal;
       text-align: center;
   }

   .specialty {
       color: var(--title-text-color);
       font-size: 16px;
       line-height: 1.18;
       font-style: normal;
       text-align: center;
   }

   .social-list {
     display: flex;
     align-items: center;
    width: 206px;
    height: 44px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
   }

   .social-link {
     display: flex;
     background-color: var(--primary-white-color);
     margin-right: 10px;
     width: 44px;
     height: 44px;
     padding: 12px;
     border-radius: 50%;
   }

   .social-link:last-child{
     margin-right: 0;
   }

   .social-link .link:hover,
   .social-link .link:focus {
       background-color: var(--accent-color);
       color: var(--primary-white-color);
       transition: 250ms;
   }
   .social-link .link{
    display: flex;
     background-color: var(--primary-white-color);
     fill: var(--icon-color);
     margin-right: 10px;
     width: 44px;
     height: 44px;
     padding: 12px;
     border-radius: 50%;
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
   .social-link :hover {
    fill: var(--primary-white-color);
  }

   /* company logo логотипы компаний */
  
   .company-list {
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   

   .company-link {
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid #AFB1B8;
     box-sizing: border-box;
     border-radius: 4px;
     width: 170px;
     height: 90px;
     padding: 20px 63px;
     fill: var(--icon-color);
   }

   .company-icon{
     height: 90px;
   }
  
   .company-title:last-child {
     margin-right: 0;
   }
   
   .company-link:hover,
   .company-link:focus {
     fill: var(--accent-color);
     border: 1px solid var(--accent-color);
     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .title-company {
     margin-bottom: 50px;
   }

   
   /* Modal-window-Модальное-окно */

   .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     transform: scale(1);
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
     transition: transform 250ms, opacity 250ms;
     
    

     
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);

    
  }

  .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: initial;
    cursor: pointer;
  }

  .close-crose {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
  }
  .close-button:hover {
    fill: var(--accent-color);
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;  
    background-color: #ffffff;
   
    
   
  }
  .modal-title {
    margin-top: 40px;
    margin-bottom: 28px;
    
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 0.03em;
  }
  .modal-form { 
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
   
  }
  
  .modal-form-field {
    position: relative;
    display: block;
  }
 
 .modal-form-input {
   display: block;
  width: 448px;
  height: 40px;
  margin: 0;
  margin-bottom: 28px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

 }

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  
  font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;
color: var(--title-text-color);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  


}
.modal-form-field:focus-within > .modal-icon {
  fill: var(--accent-color);
}

.modal-form-field:focus-within > .modal-form-label, .modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translate(-80%, -42px);
  color: var(--accent-color);
  border-color: var(--accent-color);
}
textarea {
  resize: none;
}

.modal-texterea {
  width: 448px;
  height: 120px;
  padding: 10px;
  border:  1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
}

.modal-texterea-label {
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field:focus-within > .modal-texterea-label, .modal-texterea:not(:placeholder-shown) + .modal-texterea-label  {
  transform: translate(-18%, -30px);
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-checkbox-field {
  position: relative;
    display: block;
}
.modal-checkbox-label {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 14px;
  line-height: 16px;
  
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.convention {
  color: var(--accent-color);
}
.modal-checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.modal-checkbox-icon {
  position: absolute;
  top: 18px;
  left: 8px;
  
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0;
}
.not-checked {
  position: absolute;
  top: 18px;
  left: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  opacity: 1;
}
.modal-checkbox-input:checked ~ .modal-checkbox-icon {
  opacity: 1;
}
.modal-checkbox-input:checked ~ .not-checked {
  opacity: 0;
}
.modal-form-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 200px;
  height: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center; 
  text-align: center;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;        
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
}




  /* footer */

    .footer {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 1600px;
      height: 252px;  
      padding-left: 20px;
      padding-right: 20px;
     
    background-color: var(--footer-main-color) ;
    

    }
    

    .footer-container {
      display: flex;
      align-items: center; 
      width: 1200px;            
    }

    .address { 
    width: 218px;
    margin-right: 65px; 
    color: var(--primary-white-color);
    
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    }

    .mail-address {
    display: flex;
    margin-bottom: 9px;
    
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;    
    color: rgba(255, 255, 255, 0.6);  
    text-decoration: none;    
    }

    .mail-address:hover,
    .mail.address:focus {
        color: var(--accent-color);
        transition: 250ms;
    }

    .telefon {
    margin-bottom: 9px;
    
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;    
    color: rgba(255, 255, 255, 0.6);  
    text-decoration: none;    
    }

    .telefon:hover,
    .telefon:focus {
        color: var(--accent-color);
        transition: 250ms;
    }

    .footer-title {
      
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-white-color);
    }

    .footer-list {
      display: inline-flex;
      width: 256px;
      height: 44px;
      margin-right: 94px; 
    }

    .social-footer-link {
      padding: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      margin-right: 10px;

    }
    .svg-footer-link {
      width: 20px;
      height: 20px;
      fill: var(--primary-white-color);  
    }

    .social-footer-link:hover,
    .social-footer-link:focus {
       background-color: var(--accent-color);
       transition: 250ms;
    }

    

    .footer-form {
      position: relative;
      width: 574px;     
    }

    .footer-label {  
      position: absolute;
      top: 20px;
      left: 0;
      
      
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-white-color);
      cursor: pointer;
    }

    .footer-label:hover {
      color: #2196F3;
  }
  .footer-input {
    width: 358px;
    height: 50px;
    margin-top: 50px;
    margin-right: 12px;
    
    border:  1px solid rgba(255, 255, 255, 0.3);
    background-color: #2F303A;
    color: var(--primary-white-color);
    font-size: 20px;
    border-radius: 4px; 
    padding-left: 16px;
}

.footer-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  width: 200px;
  height: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding-left: 29px;  
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;        
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  fill: var(--primary-white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  
}

.footer-button:hover {
  transform: translateY(-3px);
  background: #fff;
  color: var(--accent-color);
  fill: var(--accent-color);
}
.footer-button:focus {
  transform: translateY(0px);
  background: #fff;
  color: var(--accent-color);
  fill: var(--accent-color);
}
      
     

    /* Portfolio filter */

    
     
     .portfolio-header {
       margin-bottom: 57px;
       border: 1px solid #ececec;
     }
    

    .portfolio-filter  {
      display: flex;
      margin-left: 280px;
    }

    .portfolio-filter .filter-button{
       background-color: var(--secondary-background-color);
       color: var(--primary-text-color);
       text-decoration: none;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.6;
       border-radius: 4px;
       margin-bottom: 50px;
       display: inline-block;
       padding-top: 10px;
       padding-right: 32px;
       padding-bottom: 10px;
       padding-left: 32px;
       margin-right: 18px;
      }

      .portfolio-filter .filter-button:hover,
      .portfolio-filter .filter-button:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
        transition: 250ms;
      }

      /* Portfolio Cards */
      
      .hide-title {
        color: transparent;
      }


      .carts {
        margin-bottom: 94px;
      }
      
      .carts-list {       
        display: flex;
        flex-wrap: wrap; 
      }

      .carts-link {
        width: calc((100% - 30px * 2) / 3);
        margin-right: 30px;
        margin-bottom: 30px;
        border: 1px solid var(--secondary-background-color);
        padding-bottom: 20px;
      }

      .carts-link:nth-child(3n) {
        margin-right: 0;
      }

      .carts-link:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
      .carts-img {
        position: relative;
        overflow: hidden;
      }

      .carts-link p {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: var(--primary-white-color); 
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        padding: 63px 24px ;
        margin: 0;   
        background-color:rgba(33, 150, 243, 0.9); 
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
      }

      .carts-link:hover p { 
        color: var(--primary-white-color);
        transform: translateY(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
       }

       .carts-link:hover,
       .carts-link:focus {
         transform: translateY(-3px);
         box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);   
         transition: transform 250ms, box-shadow 250ms ;
        }

      .carts-link h3 {
        text-align: start;
        padding-top: 20px;
      }

      .carts-list .title  {
        text-decoration: none;
        font-weight: bold;
        color: #212121;
        font-size: 18px;        
        line-height: 2;
        letter-spacing: 0.06em; 
      }

      .carts-list .link {
        color: var(--title-text-color);
        text-decoration: none;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;  
      }
      
        

    

     